body {
  font-family: Arial, sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(44, 136, 232, 1) 44%,
    rgba(23, 92, 173, 1) 100%
  );
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-style: oblique;
}

.container {
  background-color: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
 /* Vertically center align elements */
  justify-content: space-between; /* Buttons at different sides */
}

label {
  display: inline-block; /* Make labels inline-block to appear next to inputs */
  font-weight: bold;
  width: 30%; /* Adjust as needed to control label width */
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
  width: 75%; /* Adjust as needed to control input width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  /* Set the width of the select element to match other inputs */
  width: calc(80% - 2px); /* Adjust the width as needed, considering the border */
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.button-container {
  display: flex;
}

.button-container:first-child {
  margin-right: 10px; /* Add margin to create space between the buttons */
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#popupDetails {
  margin-top: 10px;
}

.close:hover {
  color: #f44336;
}

.gender-checkboxes {
  display: flex;
  align-items: center;
}

.gender-checkboxes input[type="checkbox"] {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
